
/* Le aplica el box-sizing a todo el html */

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}
/** Globales **/
a {
    text-decoration: none;
    color: black;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/** Header y navegacion **/

.nombre-sitio{
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span{
    color: blue;
}

.contenedor-navegacion{
    border-top: 1px solid gray;
}

.nav-principal {
    padding: 20px 0;
    text-align: center;
}

.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}





